@mixin businessess{
  .businesses-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 80px;
    grid-template-rows: 500px;

    .business-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: #ed4540;
      border-radius: 24px;
      padding: 10px;
      position: relative;
      @include shadow();

      .image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: hsl(92, 100%, 50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .text {
          h3 {
            font-size: $heading-fontsize;
            text-align: center;
          }
        }

        .button {
          position: absolute;
          bottom: 20px;
          width: 90%;
          z-index: 3;

          button {
            @extend .white-button;
          }
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3s ease;
        background-color: #ed4540;
        border-radius: 24px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: nth($text-colors, 1);
          font-size: $small-button-fontsize;
        }
      }

      &:hover .overlay {
        opacity: 1;
      }
    }
  }

  @media screen and  (max-width: 1170px){
    .businesses-container{
      gap: 40px;

      .business-card{

        .image{
          .text{
            h3{
              font-size: clamp(1.5rem, 2.5vw, 2rem);
            }
          }

          .button{
            bottom: 20px;
            width: 85%;

            button {
              @extend .white-button;
              font-size: clamp(1rem, 1.5vw, 1.5rem);
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 719px) {
    .businesses-container{
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      grid-template-rows: auto;
      .business-card{
        .image{
          aspect-ratio: 1/1;
        }
      }

    }
  }
}



@mixin featured-products {
  .product-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 40px;
    grid-template-areas:
      "product-1 product-1"
      "product-2 product-3";

    .product-card {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      padding: 40px;
      background: rgba(248, 73, 67, 0.4);
      backdrop-filter: blur(5px);
      // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 24px;
      color: nth($text-colors, 1);
      gap: 40px;
      @include shadow();

      .image {
        grid-area: images;
        background-color: aqua;
        border-radius: 20px;
      }

      .product-desc {
        width: 100%;
        grid-area: desc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product-top {
          h2 {
            font-size: $sub-heading-fontsize;
          }
          p {
            font-size: $paragraph-fontsize;
            margin: 10px auto;
          }
        }

        .product-bottom {
          h2 {
            font-size: $sub-heading-fontsize;
          }

          button {
            @extend .white-button;
            margin-top: 20px;
          }
        }
      }
    }

    .card-1 {
      grid-area: product-1;
      grid-template-areas: "images desc";
    }

    .card-2 {
      grid-area: product-2;
      grid-template-areas:
        "images images"
        "desc desc";
        grid-template-rows: 350px 1fr;
    }

    .card-3 {
      grid-area: product-3;
      grid-template-areas:
        "images images"
        "desc desc";
        grid-template-rows: 350px 1fr;
    }
  }

  @media (max-width: 1023px){
    .product-container{
      gap: 20px;

      .product-card{
        padding: 20px;
        gap: 20px;

        .product-desc{
          .product-top{
            p{
              font-size: clamp(1.25rem, 1.5vw, 1.5rem);
            }
          }
        }
      }
    }
  }


  @media screen and (max-width: 719px) {
    .product-container{
      gap: 10px;
      
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      grid-template-areas:
      "product-1"
      "product-2"
      "product-3";

      .product-card{
        padding: 10px;
        gap: 10px;

        .product-desc{
          .product-top, .product-bottom{
            p{
              font-size: clamp(1rem, 1.5vw, 1.5rem);
            }

            h2{
              $sub-heading-fontsize: clamp(1.25rem, 2vw, 1.5rem);
            }

            button {
            font-size: clamp(1rem, 1.5vw, 1.5rem);
          }
          }
        }
      }

      .card-1, .card-2, .card-3{
        grid-template-areas: 
        "images images"
        "desc desc";
        grid-template-rows: 200px 1fr;
      }
    }
  }
}

