@mixin performer-slider {
    .swiper {
        margin-top: 40px;
        width: 100%;
        height: 93vh;
        position: relative;
        z-index: 1;
      }
  
      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 40px;
        background-color: aquamarine;
        padding: 40px;
        height: 85vh;
        z-index: 1;
  
        .performers-name{
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          h1{
            font-size: $sub-heading-fontsize;
            text-align: center;
          }
        }
  
  
        .image{
          padding: 40px;
          width: 100%;
          height: 500px;
          background-color: cadetblue;
        }
      }
        
  
      .swiper-scrollbar {
        border-radius: 10px;
        height: 20px;
        padding: 5px;
        background-color: (255, 255, 255, 0.2);
        overflow: hidden;
        width: 25%;
        left: 37%;
        z-index: 100;
        
  
      }
  
      .swiper-scrollbar-drag {
        background-color: black; // or any color you want!
        border-radius: 10px; // optional, to make it round
      }
  
      
  
      @media only screen and (min-width: 769px) {
        .swiper-slide:first-child {
          transition: transform 100ms;
        }
  
        .swiper-slide:first-child img {
          transition: box-shadow 500ms;
        }
  
  
        .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
          transform: translateX(-50%);
        }
  
        .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
          transform: translateX(-55%);
        }
      }
}