@import "../global";

body {
  background-color: $home-aboutus-primary-color;
}

main {
  .intro-section {
    @include hero-section();
  }

  .story-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .top-container {
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 40px;
      grid-template-rows: 400px;
      color: white;

      .image {
        background-color: $header-footer-color;
        width: 100%;
        border-radius: 25px;
      }

      .desc {
        h1 {
          font-size: $sub-heading-fontsize;
        }

        p {
          font-size: $paragraph-fontsize;
        }
      }
    }

    .bottom-container {
      margin-top: 120px;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 40px;
      color: white;

      .box {
        h1 {
          font-size: $sub-heading-fontsize;
          text-align: center;
        }

        p {
          font-size: $paragraph-fontsize;
          text-align: center;
          color: black;
        }
      }
    }
  }

  .team-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();
    margin-bottom: 40px;
  
    .swiper {
      margin-top: 80px;
      width: 60%;
      height: 550px;
  
      &:active {
        cursor: grabbing;
      }
    }
  
    .swiper-slide {
      width: 40%;
      height: 500px;
      display: flex;
      justify-content: center;
  
      .members {
        width: 40%;
        background-color: $header-footer-color;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  
    .arrow-button {
      position: absolute;
      top: 50%;
      transform: translateY(-80%);
      z-index: 10;
      border: none;
      font-size: 2rem;
      background-color: white;
      color: $home-aboutus-primary-color;
      cursor: pointer;
      padding: 0.5rem 0.8rem;
      border-radius: 0.5rem;
      opacity: 1;
    
      &:hover {
        opacity: 0.7;
      }
    }

    .arrow-left {
      left: 0;
    }
    
    .arrow-right {
      right: 0;
    }
  
    .swiper-pagination-bullet-active {
      background-color: white;
    }
  }
}
