@import "../global";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $home-aboutus-primary-color;
}

main {
  .intro-section {
    @include hero-section();
  }

  .story-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .top-container {
      padding: 40px;
      background: rgba(248, 73, 67, 0.4);
      backdrop-filter: blur(5px);
      margin-top: 40px;
      border-radius: 25px 25px 0px 0px;
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 40px;
      color: white;

      .image {
        background-color: $header-footer-color;
        width: 100%;
        border-radius: 25px;
      }

      .desc {
        h1 {
          font-size: $sub-heading-fontsize;

        }

        p {
          margin-top: 10px;
          font-size: $paragraph-fontsize;
          font-weight: 400;
        }
      }
    }

    .bottom-container {
      padding: 40px;
      background: rgba(248, 73, 67, 0.4);
      backdrop-filter: blur(5px);
      border-radius: 0px 0px 25px 25px;
      padding: auto 120px;
      padding-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 100px;
      color: white;

      .box {
        h3 {
          font-size: clamp(1.25rem, 2vw, 1.5rem);
          text-align: center;
        }

        p {
          font-size: clamp(1rem, 1.5vw, 1.25rem);
          text-align: center;
          color: black;
          font-weight: 500;
          margin-top: 10px;
          font-weight: 500;
          color: white;
        }
      }
    }
  }

  .team-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .team-container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-template-rows: 500px;
      gap: 20%;

      .team-info {
        border-radius: 20px;
        margin: 0px 50px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
          background-color: $header-footer-color;
          height: 100%;
          width: 100%;
          border-radius: 20px;
          overflow: hidden;

          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
        }

        .name {
          margin-top: 20px;
          font-size: clamp(1.5rem, 2.5vw, 2rem);
          color: white;
          text-align: center;
        }

      }
    }
  }

  .location-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .location-container {
      padding: 40px;
      border-radius: 25px;
      background: rgba(248, 73, 67, 0.4);
      backdrop-filter: blur(5px);
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 40px;
      color: white;

      .image {
        background-color: $header-footer-color;
        width: 100%;
        border-radius: 25px;

        iframe {
          border-radius: 25px;
        }
      }

      .desc {
        h1 {
          font-size: $sub-heading-fontsize;
        }

        p {
          font-weight: 500;
          font-size: $paragraph-fontsize;
        }
      }
    }
  }

  .contact-section {
    margin: $desktop-spacing;

    .contact-container {
      background: rgba(248, 73, 67, 0.3);
      backdrop-filter: blur(5px);
      padding: 80px 80px;
      border-radius: 20px;
      @include shadow();

      h1 {
        font-size: $sub-heading-fontsize;
        color: white;
        text-align: center;
      }

      form {
        margin-top: 40px;

        .first-row {
          display: grid;
          grid-template-columns: repeat(2, minmax(100px, 1fr));
          gap: 40px;

          label {
            background-color: $header-footer-color;
            display: flex;
            gap: 10px;
            padding: 10px 20px;
            border-radius: 20px;

            input {
              width: 100%;
              background-color: $header-footer-color;
              border: none;
              padding: 5px;
              font-size: $paragraph-fontsize;

              &::placeholder {
                color: black;
              }

              &:focus {
                outline: none;
              }

            }

            .icon {
              width: 45px;
              display: flex;
              align-items: center;

              img {
                max-width: 100%
              }
            }
          }
        }

        .second-row {
          margin-top: 40px;
          width: 100%;

          label {
            position: relative;
            display: block;
            width: 100%;
            background-color: $header-footer-color;
            border-radius: 1.25rem;

            select {
              width: 100%;
              padding: 1rem 2.75rem 1rem 1rem; // space for the arrow
              font-size: 1rem;
              border: none;
              border-radius: 20px;
              background-color: $header-footer-color;
              font-size: $paragraph-fontsize;

              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;

              &:focus {
                outline: none;
              }

            }

            .icon {
              position: absolute;
              top: 50%;
              right: 1rem;
              transform: translateY(-50%);
              width: 2.5rem;
              height: 2.5rem;
              pointer-events: none;

              img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: contain;
              }
            }
          }
        }

        .third-row {
          margin-top: 40px;

          label {
            border-radius: 20px;
            width: 100%;

            textarea {
              width: 100%;
              border-radius: 20px;
              background-color: $header-footer-color;
              border: none;
              padding: 10px 20px;
              height: 200px;
              font-size: $paragraph-fontsize;
              resize: vertical;

              &::placeholder {
                color: black;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }

        .buttons {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;

          button,
          input[type=submit] {
            @extend .red-button;
          }

          button {
            background-color: black;
          }

          input[type=submit] {
            border: none;
          }
        }
      }
    }
  }

  @include arrow();

  @media (max-width: 1023px) {

    .story-section,
    .team-section,
    .location-section,
    .contact-section {
      margin: $tablet-spacing;
    }

    .story-section {
      .top-container {
        padding: 20px;
        gap: 20px;

        .desc {
          p {
            font-size: clamp(1rem, 1.5vw, 1.125rem);
          }
        }
      }

      .bottom-container {
        padding: 20px;
        margin: auto 0px;
      }
    }

    .team-section {
      .team-container {
        .team-info {
          margin: 0px;

          .name {
            height: 100px;
          }
        }
      }
    }

    .location-section {
      .location-container {
        padding: 20px;
        gap: 20px;

        .desc {
          p {
            font-size: clamp(1.25rem, 1.5vw, 1.5rem);
          }
        }
      }
    }

    .contact-section {
      .contact-container {
        padding: 40px 40px;

        form {
          .first-row {
            label {
              input {
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
                ;
              }
            }
          }

          .second-row {
            label {
              select {
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
                ;
              }
            }
          }

          .third-row {
            margin-top: 40px;

            label {
              textarea {
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
                ;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 719px) {

    .story-section,
    .team-section,
    .location-section,
    .contact-section {
      margin: $mobile-spacing;
    }

    .story-section {
      text-align: center;
      .top-container {

        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-template-rows: 200px 1fr;
        ;

        .desc {
          p {
            font-size: clamp(1.25rem, 1.5vw, 1.5rem);
          }
        }
      }

      .bottom-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        gap: 20px;
        padding: 20px;
      }
    }

    .team-section {
      .team-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-template-rows: auto auto;
        gap: 0;

        .team-info {
          margin: 0px;

          .image {
            aspect-ratio: 1/1;
          }
        }
      }
    }

    .location-section {
      .location-container {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;

        .desc {
          p {
            font-size: clamp(1.25rem, 1.5vw, 1.5rem);
          }
        }

        .image {
          aspect-ratio: 1/1;
        }

      }
    }

    .contact-section {
      .contact-container {
        padding: 20px 20px;

        h1 {
          margin-top: 20px;
        }

        form {
          .first-row {
            grid-template-columns: repeat(1, minmax(100px, 1fr));
            gap: 20px;
          }

          .second-row {
            margin-top: 20px;

            label {
              select {
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
                ;
              }
            }
          }

          .third-row {
            margin-top: 20px;

            label {
              textarea {
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
                ;
              }
            }
          }
        }
      }
    }
  }
}