@import "../global";

body {
  background: $artist-primary-color;
}

main {
  .intro-section {
    @include hero-section();
    position: relative;

    .background-slideshow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      animation: slideshow 30s infinite;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .text-container {
      max-width: 900px;
      width: 70%;
      position: relative;
      z-index: 2;
      gap: 50px;
      color: nth($text-colors, 1);
    }
  }

  @keyframes slideshow {
    0%,
    25% {
      background-image: url("/Frontend/Images/ArtistPage/bg-1.jpg");
    }
    25.01%,
    50% {
      background-image: url("/Frontend/Images/ArtistPage/bg-2.jpg");
    }
    50.01%,
    75% {
      background-image: url("/Frontend/Images/ArtistPage/bg-3.jpg");
    }
    75.01%,
    100% {
      background-image: url("/Frontend/Images/ArtistPage/bg-4.jpg");
    }
  }

  .performers-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .artist-wrapper {
      margin-top: 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: nth($text-colors, 1);

      .artist-name {
        font-size: $sub-heading-fontsize;
      }

      .artistSwiper {
        position: relative;
        width: 100%;
        max-width: 320px;
        height: auto;

        .swiper-wrapper {
          width: 100%;
          height: 100%;

          .swiper-slide {
            width: 100%;
            height: 100%;

            &.hidden {
              opacity: 0;
              position: absolute;
              left: 0;
              top: 0;
            }

            .artist-circle {
              width: 100%;
              max-width: 325px;
              height: auto;
              border-radius: 50%;
              background-color: #ccc;
              background-size: cover;
              background-position: center;
              aspect-ratio: 1/1;
            }
          }
        }

        .arrow-button {
          top: 43%;
          position: absolute;
          z-index: 2;
          border: none;
          font-size: clamp(1.5rem, 3vw, 2rem);
          background-color: nth($text-colors, 1);
          mix-blend-mode: screen;
          cursor: pointer;
          padding: 0.5rem 0.8rem;
          border-radius: 0.5rem;

          &:hover {
            opacity: 0.7;
          }

          &.arrow-left {
            left: calc(-100%);
          }

          &.arrow-right {
            right: calc(-100%);
          }

          // Responsive adjustments //
          @media (max-width: 1024px) {
            &.arrow-left {
              left: -80%;
            }
            &.arrow-right {
              right: -80%;
            }
          }

          @media (max-width: 910px) {
            &.arrow-left {
              left: -70%;
            }
            &.arrow-right {
              right: -70%;
            }
          }

          @media (max-width: 845px) {
            &.arrow-left {
              left: -60%;
            }
            &.arrow-right {
              right: -60%;
            }
          }

          @media (max-width: 775px) {
            &.arrow-left {
              left: -50%;
            }
            &.arrow-right {
              right: -50%;
            }
          }

          @media (max-width: 720px) {
            &.arrow-left {
              left: -90%;
            }
            &.arrow-right {
              right: -90%;
            }
          }

          @media (max-width: 660px) {
            &.arrow-left {
              left: -70%;
            }
            &.arrow-right {
              right: -70%;
            }
          }

          @media (max-width: 570px) {
            &.arrow-left {
              left: -60%;
            }
            &.arrow-right {
              right: -60%;
            }
          }

          @media (max-width: 530px) {
            &.arrow-left {
              left: -50%;
            }
            &.arrow-right {
              right: -50%;
            }
          }

          @media (max-width: 490px) {
            &.arrow-left {
              left: -40%;
            }
            &.arrow-right {
              right: -40%;
            }
          }

          @media (max-width: 445px) {
            &.arrow-left {
              left: -30%;
            }
            &.arrow-right {
              right: -30%;
            }
          }
        }
      }

      .artist-info-box {
        width: 80%;
        max-width: 1000px;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.31);
        border-radius: 1.5rem;
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 5px;

        .artist-description {
          font-size: $paragraph-fontsize;
          margin-bottom: 1.5rem;
        }

        .button-group {
          display: flex;
          justify-content: center;
          gap: 2rem;

          .learn-more-btn,
          .quote-btn {
            @extend .white-button;
            color: $artist-tertiary-color;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }

  .performers-modal {
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.7s ease;
      backdrop-filter: blur(0px);
      transition: backdrop-filter 0.3s ease;

      &.open-modal {
        opacity: 1;
        z-index: 1000;
        pointer-events: auto;
        backdrop-filter: blur(2.5px);
      }

      .modal {
        position: relative;
        background: linear-gradient(145deg, #d6e9f0, #c5d8e0);
        border-radius: 1.5rem;
        padding: 2rem;
        width: 100%;
        max-width: 800px;
        text-align: center;

        .modal-close {
          position: absolute;
          left: 46.5pc;
          top: 1pc;
          background: transparent;
          border: none;
          font-size: 2.2rem;
          cursor: pointer;
          color: #333;
        }

        .modal-whatsapp {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.5rem;

          img {
            width: 40px;
            height: 40px;
          }

          span {
            font-size: 0.9rem;
            color: black;
            padding-top: 20px;
          }
        }

        .modal-form {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          select,
          input,
          textarea {
            width: 100%;
            padding: 0.7rem 1rem;
            border-radius: 1rem;
            border: none;
            font-size: 1rem;
            background: #eee;
          }

          select {
            display: flex;
            align-self: center;
            max-width: 400px;
            text-align: center;
          }

          textarea {
            height: 120px;
            resize: none;
          }

          .modal-options {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin: 1rem 0;

            .option-btn {
              padding: 0.6rem 1rem;
              border-radius: 1rem;
              background: #343d4c;
              color: white;
              font-size: 0.9rem;
              cursor: pointer;
              transition: 0.3s ease;

              &:hover {
                opacity: 0.5;
              }
            }
          }

          .modal-submit {
            background: black;
            color: white;
            padding: 0.7rem;
            border-radius: 0.7rem;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

.performers-section.bandperformer .heading,
.performers-section.djplayer .heading {
  justify-content: flex-end;
}

.performers-section.bandperformer hr,
.performers-section.djplayer hr {
  margin-left: auto;
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
  main {
    .intro-section {
      .text-container {
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }

    .performers-section {
      margin: $tablet-spacing;

      hr {
        margin-top: 25px;
      }

      .artist-wrapper {
        .artistSwiper {
          max-width: 280px;
        }

        .artist-info-box {
          width: 90%;

          .artist-description {
            margin-bottom: 0.5rem;
          }

          .button-group {
            gap: 1rem;
          }
        }
      }
    }

    .performers-modal {
      .modal-overlay {
        .modal {
          max-width: 700px;

          .modal-close {
            left: 40pc;
          }

          .modal-form {
            .modal-options {
              gap: 0.2rem;
              margin: 0rem 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  main {
    .intro-section {
      min-height: 87vh;
      background-color: transparent;

      .background-slideshow {
        height: 87vh;
        background-size: cover;
        background-position: center;
      }

      .text-container {
        width: 100%;
        max-width: 700px;
        gap: 70px;

        p {
          text-align: justify;
        }
      }
    }

    .performers-section {
      margin: $mobile-spacing;

      .heading {
        justify-content: center;
      }

      hr {
        margin: 15px auto;
        width: 85%;
      }

      .artist-wrapper {
        .artistSwiper {
          max-width: 220px;
        }

        .artist-info-box {
          width: 100%;
          padding: 1rem;

          .artist-description {
            margin-bottom: 0rem;
          }

          .button-group {
            gap: 0.6rem;
          }
        }
      }
    }

    .performers-modal {
      .modal-overlay {
        .modal {
          max-width: 450px;

          .modal-close {
            left: 25pc;
          }

          .modal-form {
            .modal-options {
              gap: 0.2rem;
              margin: 0rem 0;
            }
          }
        }
      }
    }
  }
}
