@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(4vw, -2vh);
  }
}
.circle {
  animation: float 10s ease-in-out infinite alternate;
}
.circle:nth-child(odd) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.fade-in {
  animation: fadeIn 0.4s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.25s ease-out forwards;
}

@keyframes circleFadeIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(0.85);
  }
}
.circle-fade-in {
  animation: circleFadeIn 0.6s ease-in forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}

header {
  width: 100%;
  background-color: #e4e4e4; /* replace with $header-footer-color */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1882352941);
  transition: 0.5s;
}

.logo a {
  font-size: clamp(2rem, 6vw, 3rem); /* replace with $primary-logo-fontsize */
  color: #0a2463; /* replace with $logo-color */
  font-weight: 900;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.links {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
  font-weight: 500;
}

.links a {
  color: #000;
  font-size: clamp(1rem, 3vw, 1.5rem);
  width: 25%;
  text-align: center;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.close-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 1023px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333;
    padding: 60px 20px 20px;
    transition: 0.3s ease;
    z-index: 11;
  }
  .nav-links.open {
    right: 0;
  }
  .close-btn {
    display: block;
  }
  .links {
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .links a {
    color: white;
    width: 100%;
  }
  .button {
    margin-top: 20px;
  }
  .hamburger {
    display: block;
  }
}
footer {
  background-color: #e4e4e4;
}
footer .footer-top {
  padding: 80px 80px 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .cml-logo {
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 900;
}
footer .footer-top .social-media {
  display: flex;
  gap: 20px;
}
footer .footer-top .social-media .app {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
}
footer .footer-bottom {
  padding: 0px 80px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 100px;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
footer .footer-bottom h3 {
  height: 100px;
}
footer .copyright {
  margin-top: 150px;
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #000;
  background-color: #fff;
}

@media (max-width: 1023px) {
  footer .footer-bottom {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  footer .footer-bottom .company h3, footer .footer-bottom .service h3, footer .footer-bottom .quick-links h3, footer .footer-bottom .head-office h3 {
    height: initial;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 719px) {
  footer .footer-top {
    flex-direction: column;
  }
  footer .footer-top .social-media {
    margin-top: 20px;
  }
  footer .footer-top .social-media .app {
    width: 50px;
    height: 50px;
  }
  footer .footer-bottom {
    margin-top: 80px;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: 30px;
  }
}
.red-button, main .intro-section .text-container .text-bottom button, .button button {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
  cursor: pointer;
}

.white-button, main .performers-section .artist-wrapper .artist-info-box .button-group .learn-more-btn,
main .performers-section .artist-wrapper .artist-info-box .button-group .quote-btn {
  background-color: #fff;
  color: #ff4545;
  width: 100%;
  padding: 5px 0px;
  border-radius: 26px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 800;
  cursor: pointer;
  margin-top: 30px;
}

.circle-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  background: linear-gradient(45deg, #fff, #ccc);
}

.artist-page .circle {
  background: linear-gradient(135deg, #4e2079, #8e3d8e);
}

.consult-page .circle {
  background: linear-gradient(135deg, #8d6ac0, #ff93e0);
}

.product-page .circle {
  background: linear-gradient(135deg, #046969, #3bd9d9);
}

.home-page .circle {
  background: linear-gradient(135deg, #ff4545, #e4866d);
}

body {
  background: #b63880;
}

main .intro-section {
  width: 100%;
  height: 100vh;
  background-color: #e4e4e4;
  padding: 150px 80px 50px 80px;
}
main .intro-section h1 {
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: 900;
}
main .intro-section .text-container {
  font-size: clamp(1rem, 3vw, 1.5rem);
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  width: 80%;
}
main .intro-section .text-container .text-top hr {
  display: none;
}
main .intro-section .text-container .text-bottom {
  margin-top: 80px;
}
@media screen and (max-width: 1023px) {
  main .intro-section .text-container {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 719px) {
  main .intro-section {
    padding: 100px 40px 50px 40px;
  }
  main .intro-section h1, main .intro-section .text-container {
    text-align: center;
  }
  main .intro-section .text-container {
    text-align: justify;
  }
  main .intro-section .text-container .text-top hr {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    background-color: black;
  }
  main .intro-section .text-container .text-bottom {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 539px) {
  main .intro-section .text-container {
    height: 100%;
  }
  main .intro-section .text-container .text-top p {
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
  }
}
main .performers-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .performers-section .heading {
  display: flex;
}
main .performers-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .performers-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .performers-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .performers-section .artist-wrapper {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
main .performers-section .artist-wrapper .artist-name {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
}
main .performers-section .artist-wrapper .artistSwiper {
  position: relative;
  width: 320px;
  height: 320px;
}
main .performers-section .artist-wrapper .artistSwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
main .performers-section .artist-wrapper .artistSwiper .swiper-wrapper .swiper-slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
main .performers-section .artist-wrapper .artistSwiper .swiper-wrapper .swiper-slide .artist-circle {
  width: 325px;
  height: 325px;
  border-radius: 50%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}
main .performers-section .artist-wrapper .artistSwiper .arrow-button {
  top: 43%;
  position: absolute;
  z-index: 2;
  border: none;
  font-size: clamp(1.5rem, 3vw, 2rem);
  background-color: #fff;
  mix-blend-mode: screen;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}
main .performers-section .artist-wrapper .artistSwiper .arrow-button:hover {
  opacity: 0.7;
}
main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-left {
  left: -100%;
}
main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-right {
  right: -100%;
}
@media (max-width: 1440px) {
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-left {
    left: calc(-80% + 20% * (1440px - 100vw) / 1080);
  }
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-right {
    right: calc(-80% + 20% * (1440px - 100vw) / 1080);
  }
}
@media (max-width: 1024px) {
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-left {
    left: -60%;
  }
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-right {
    right: -60%;
  }
}
@media (max-width: 768px) {
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-left {
    left: -40%;
  }
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-right {
    right: -40%;
  }
}
@media (max-width: 480px) {
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-left {
    left: -20%;
  }
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-right {
    right: -20%;
  }
}
@media (max-width: 360px) {
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-left {
    left: -10%;
  }
  main .performers-section .artist-wrapper .artistSwiper .arrow-button.arrow-right {
    right: -10%;
  }
}
main .performers-section .artist-wrapper .artist-info-box {
  width: 80%;
  max-width: 1000px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 1.5rem;
  text-align: justify;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}
main .performers-section .artist-wrapper .artist-info-box .artist-description {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 1.5rem;
}
main .performers-section .artist-wrapper .artist-info-box .button-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
main .performers-section .artist-wrapper .artist-info-box .button-group .learn-more-btn,
main .performers-section .artist-wrapper .artist-info-box .button-group .quote-btn {
  color: #8e3d8e;
}
main .performers-section .artist-wrapper .artist-info-box .button-group .learn-more-btn:hover,
main .performers-section .artist-wrapper .artist-info-box .button-group .quote-btn:hover {
  opacity: 0.7;
}
main .performers-modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  transition: -webkit-backdrop-filter 0.3s ease;
  transition: backdrop-filter 0.3s ease;
  transition: backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease;
}
main .performers-modal .modal-overlay.open-modal {
  opacity: 1;
  z-index: 1000;
  pointer-events: auto;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
main .performers-modal .modal-overlay .modal {
  position: relative;
  background: linear-gradient(145deg, #d6e9f0, #c5d8e0);
  border-radius: 1.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  text-align: center;
}
main .performers-modal .modal-overlay .modal .modal-close {
  position: absolute;
  left: 46.5pc;
  top: 1pc;
  background: transparent;
  border: none;
  font-size: 2.2rem;
  cursor: pointer;
  color: #333;
}
main .performers-modal .modal-overlay .modal .modal-whatsapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .performers-modal .modal-overlay .modal .modal-whatsapp img {
  width: 40px;
  height: 40px;
}
main .performers-modal .modal-overlay .modal .modal-whatsapp span {
  font-size: 0.9rem;
  color: black;
  padding-top: 20px;
}
main .performers-modal .modal-overlay .modal .modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .performers-modal .modal-overlay .modal .modal-form select,
main .performers-modal .modal-overlay .modal .modal-form input,
main .performers-modal .modal-overlay .modal .modal-form textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  background: #eee;
}
main .performers-modal .modal-overlay .modal .modal-form select {
  display: flex;
  align-self: center;
  max-width: 400px;
  text-align: center;
}
main .performers-modal .modal-overlay .modal .modal-form textarea {
  height: 120px;
  resize: none;
}
main .performers-modal .modal-overlay .modal .modal-form .modal-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
main .performers-modal .modal-overlay .modal .modal-form .modal-options .option-btn {
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  background: #343d4c;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease;
}
main .performers-modal .modal-overlay .modal .modal-form .modal-options .option-btn:hover {
  opacity: 0.5;
}
main .performers-modal .modal-overlay .modal .modal-form .modal-submit {
  background: black;
  color: white;
  padding: 0.7rem;
  border-radius: 0.7rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}
main .performers-modal .modal-overlay .modal .modal-form .modal-submit:hover {
  opacity: 0.5;
}

.performers-section.bandperformer .heading,
.performers-section.djplayer .heading {
  justify-content: flex-end;
}

.performers-section.bandperformer hr,
.performers-section.djplayer hr {
  margin-left: auto;
}/*# sourceMappingURL=artists.css.map */