@import "../global";

body {
  background: $artist-primary-color;
}

main {
  .intro-section {
    @include hero-section();
  }

  .performers-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .artist-wrapper {
      margin-top: 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: nth($text-colors, 1);

      .artist-name {
        font-size: clamp(2.5rem, 4.5vw, 3.75rem);
      }

      .artistSwiper {
        width: 400px;
        height: 400px;

        .swiper-wrapper {
          display: flex;
          align-items: center;

          .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;

            &.swiper-slide-active {
              visibility: visible;
              pointer-events: all;
            }

            .artist-circle {
              width: 400px;
              height: 400px;
              border-radius: 50%;
              background-color: #ccc;
              border: 3px solid white;
            }
          }
        }
      }

      .custom-pagination {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin: 20px 0;

        .pagination-dot {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.5);
          cursor: pointer;

          &.active {
            background: white;
          }
        }
      }

      .artist-info-box {
        width: 80%;
        max-width: 1000px;
        padding: 3rem;
        background-color: rgba(255, 255, 255, 0.31);
        border-radius: 1.5rem;
        text-align: justify;
        backdrop-filter: blur(10px);
        color: white;
        margin-top: 10px;
        margin-bottom: 5px;

        .artist-description {
          font-size: $paragraph-fontsize;
          margin-bottom: 1.5rem;
        }

        .button-group {
          display: flex;
          justify-content: center;
          gap: 2rem;

          .learn-more-btn,
          .quote-btn {
            @extend .white-button;
            color: $artist-tertiary-color;
          }
        }
      }
    }
  }
}

.performers-section.bandperformer .heading,
.performers-section.djplayer .heading {
  justify-content: flex-end;
}

.performers-section.bandperformer hr,
.performers-section.djplayer hr {
  margin-left: auto;
}
