@import "../global";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $consult-primary-color;
}

main {
  .intro-section {
    @include hero-section();
    background-image: url("/Images/Location/Building.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;

    .background {
      background-color: rgb(0, 0, 0, 0.5);
      min-height: 100svh;
      width: 100%;
      padding: 150px 80px 50px 80px;

      .text-container {
        color: white;
      }
    }

    
  }

  .service-section {
    margin: $desktop-spacing;
    @include heading();

    .heading {
      justify-content: center;
    }

    @include heading-underline();

    hr {
      margin: 0 auto;
      margin-top: 30px;
    }

    .service-container {
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 80px 0px;

      .each-service {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .image {
          width: 50%; 
          aspect-ratio: 1 / 1; 
          border-radius: 50%; 
          max-width: 200px; 
        }

        .text {
          margin-top: 40px;
          font-size: $paragraph-fontsize;
          text-align: center;
        }
      }
    }
  }

  .product-section {
    margin: $desktop-spacing;
    @include heading();

    .heading {
      justify-content: center;
    }

    @include heading-underline();

    hr {
      margin: 0 auto;
      margin-top: 30px;
    }

    .product-container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 80px;

      .each-product {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(252, 146, 224, 0.5);
        backdrop-filter: blur(5px);
        padding: 40px;
        border-radius: 30px;
        width: 100%;
        @include shadow();

        .text {
          display: grid;
          grid-template-rows: 150px 1fr;
          justify-content: space-between;
          width: 100%;
          color: white;
          text-align: center;

          h4 {
            font-size: $heading-fontsize;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          p {
            font-size: $paragraph-fontsize;
          }
        }
      }
    }
  }

  .testimonial-section {
    margin: $desktop-spacing;
    @include heading();

    .heading {
      justify-content: center;
    }

    @include heading-underline();

    hr {
      margin: 0 auto;
      margin-top: 30px;
    }

    .testimonial-container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 40px;

      .testimonial-box {
        color: black;
        align-items: center;
        background-color: rgb(252, 146, 224, 0.6);
        @include shadow();
        padding: 20px;
        border-radius: 30px;
        width: 100%;
        display: grid;
        grid-template-areas:
          "quotation"
          "texts"
          "images"
          "names";

        .image {
          background-color: $header-footer-color;
          width: 30%;
          border-radius: 50%;
          grid-area: images;
          background-color: $header-footer-color;
          aspect-ratio: 1/1;
          justify-self: center;
          margin: 30px 0px;
        }

        .text {
          font-size: $paragraph-fontsize;
          font-weight: 700;
          width: 100%;
          color: black;
          text-align: center;
          grid-area: texts;
        }

        .name {
          font-size: $paragraph-fontsize;
          grid-area: names;
          text-align: center;
        }

        .quotation {
          width: 100%;
          grid-area: quotation;
          display: flex;
          justify-content: center;

          img {
            max-width: 30%;
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }

  @include arrow();
  #arrowBtn{
    background-color: #c97fd1;
  }


  @media (max-width: 1200px){
    .product-section{
      .product-container{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
      }
    }

  }

  @media (max-width: 1024px){
    .service-section, .product-section, .testimonial-section {
      margin: $tablet-spacing;
    }

    .intro-section {
      @include hero-section();
      padding: 0px;

      .background {
        padding: 150px 80px 50px 80px;

        .text-container {
          color: white;
        }
      }
    }

    .service-section{
      .service-container{
        gap: 40px 0px;

        .each-service{
          .text{
            margin-top: 20px;
            font-size: clamp(1rem, 1.5vw, 1.125rem);
          }
        }
      }
    }

    .product-section{
      .product-container{
        gap: 40px;

        .each-product{
          padding: 20px;
          border-radius: 20px;

          .text{
            h4{
              font-size: clamp(1.25rem, 2vw, 1.5rem);
            }

            p{
              font-size: clamp(1.25rem, 1.5vw, 1.5rem);
            }
          }
        }
      }
    }
  }

  @media (max-width: 720px) {

    .service-section, .product-section, .testimonial-section {
      margin: $mobile-spacing;
    }

    .intro-section {
      padding: 0px;

      .background {
        padding: 100px 40px 50px 40px;

        .text-container {
          color: white;
        }
      }
    }

    .service-section {
      .service-container {
        gap: 40px 20px;
        grid-template-columns: repeat(2, minmax(100px, 1fr));

      }
    }

    .product-section {
        .product-container {
          gap: 20px;

          .each-product{

          .text{
            grid-template-rows: 100px 1fr;
            h4{
              font-size: clamp(1rem, 2vw, 1.5rem);;
            }

            p{
              font-size: clamp(1rem, 1.5vw, 1.5rem);
            }
          }

        }
      }
    }

    .testimonial-section{
      .testimonial-container{
        grid-template-columns: auto;

        .testimonial-box{
          grid-template-columns: 25% 75%;
          grid-template-areas:
          "images quotation"
          "images texts"
          "names texts";
          gap: 10px 20px;

          .text {
          text-align:left;
          align-self: self-start;
        }

          .image{
            width: 100%;
            margin: 0px 0px;
          }

          .quotation{
            width: 10%;

            img{
              max-width: 100%;
            }
          }
        }
      }
      
    }
    
  }

}