@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2vw, -2vh);
  }
}
.circle {
  animation: float 15s ease-in-out infinite alternate;
}
.circle:nth-child(odd) {
  animation-delay: 2s;
}

.fade-in {
  animation: fadeIn 0.4s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.25s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes circleFadeIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(0.85);
  }
}
.circle-fade-in {
  animation: circleFadeIn 0.6s ease-in forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}

header {
  background-color: #e4e4e4;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1882352941);
  z-index: 2;
  width: 100%;
  transition: 0.5s;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}
header nav .logo {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 6vw, 3rem);
  color: #0a2463;
  font-weight: 900;
}
header nav ul {
  display: flex;
  width: 60%;
  justify-content: space-between;
  gap: 20px;
}
header nav ul li {
  width: 25%;
  text-align: center;
}
header nav ul li a {
  font-weight: 500;
  color: #000;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.red-button, main .intro-section .text-container .text-bottom button, header nav button {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
  cursor: pointer;
}

.white-button, main .aboutus-section .aboutus-container button, .selling-card .sell-cards .sell-desc .desc-bottom button, main .products-section .product-container .sell-cards .sell-desc .desc-bottom button, main .products-section .product-container .product-card .sell-desc .desc-bottom button, main .products-section .product-container .product-card .product-desc .desc-bottom button, main .products-section .product-container .product-card .product-desc .product-bottom button, .border-card .each-card .each-img .each-button button, main .businesses-section .businesses-container .each-card .each-img .each-button button, main .businesses-section .businesses-container .business-card .each-img .each-button button, main .businesses-section .businesses-container .business-card .image .each-button button, main .businesses-section .businesses-container .business-card .image .button button {
  background-color: #fff;
  color: #ff4545;
  width: 100%;
  padding: 5px 0px;
  border-radius: 26px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 800;
  cursor: pointer;
  margin-top: 30px;
}

.red-button, main .intro-section .text-container .text-bottom button, header nav button {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
  cursor: pointer;
}

.white-button, main .aboutus-section .aboutus-container button, .selling-card .sell-cards .sell-desc .desc-bottom button, main .products-section .product-container .sell-cards .sell-desc .desc-bottom button, main .products-section .product-container .product-card .sell-desc .desc-bottom button, main .products-section .product-container .product-card .product-desc .desc-bottom button, main .products-section .product-container .product-card .product-desc .product-bottom button, .border-card .each-card .each-img .each-button button, main .businesses-section .businesses-container .each-card .each-img .each-button button, main .businesses-section .businesses-container .business-card .each-img .each-button button, main .businesses-section .businesses-container .business-card .image .each-button button, main .businesses-section .businesses-container .business-card .image .button button {
  background-color: #fff;
  color: #ff4545;
  width: 100%;
  padding: 5px 0px;
  border-radius: 26px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 800;
  cursor: pointer;
  margin-top: 30px;
}

.border-card, main .businesses-section .businesses-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 80px;
  grid-template-rows: 500px;
}
.border-card .each-card, .border-card main .businesses-section .businesses-container .business-card, main .businesses-section .businesses-container .border-card .business-card, main .businesses-section .businesses-container .each-card, main .businesses-section .businesses-container .business-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ed4540;
  border-radius: 24px;
  padding: 20px;
  position: relative;
}
.border-card .each-card .each-img, main .businesses-section .businesses-container .each-card .each-img, main .businesses-section .businesses-container .business-card .each-img, main .businesses-section .businesses-container .business-card .image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: hsl(92, 100%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.border-card .each-card .each-img .each-text h3, main .businesses-section .businesses-container .each-card .each-img .each-text h3, main .businesses-section .businesses-container .business-card .each-img .each-text h3, main .businesses-section .businesses-container .business-card .image .each-text h3, main .businesses-section .businesses-container .business-card .image .text h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: center;
}
.border-card .each-card .each-img .each-button, main .businesses-section .businesses-container .each-card .each-img .each-button, main .businesses-section .businesses-container .business-card .each-img .each-button, main .businesses-section .businesses-container .business-card .image .each-button, main .businesses-section .businesses-container .business-card .image .button {
  position: absolute;
  bottom: 40px;
  width: 80%;
  z-index: 3;
}
.border-card .each-card .overlay, main .businesses-section .businesses-container .each-card .overlay, main .businesses-section .businesses-container .business-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #ed4540;
  border-radius: 24px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-card .each-card .overlay p, main .businesses-section .businesses-container .each-card .overlay p, main .businesses-section .businesses-container .business-card .overlay p {
  color: #fff;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.border-card .each-card .each-img:hover .overlay, main .businesses-section .businesses-container .each-card .each-img:hover .overlay, main .businesses-section .businesses-container .business-card .each-img:hover .overlay, main .businesses-section .businesses-container .business-card .image:hover .overlay {
  opacity: 1;
}

.selling-card, main .products-section .product-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 40px;
  grid-template-areas: "product-1 product-1" "product-2 product-3";
}
.selling-card .sell-cards, .selling-card main .products-section .product-container .product-card, main .products-section .product-container .selling-card .product-card, main .products-section .product-container .sell-cards, main .products-section .product-container .product-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  gap: 40px;
}
.selling-card .sell-cards .sell-image, main .products-section .product-container .sell-cards .sell-image, main .products-section .product-container .product-card .sell-image, main .products-section .product-container .product-card .image {
  grid-area: images;
  background-color: aqua;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1/0.6;
}
.selling-card .sell-cards .sell-desc, main .products-section .product-container .sell-cards .sell-desc, main .products-section .product-container .product-card .sell-desc, main .products-section .product-container .product-card .product-desc {
  width: 100%;
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selling-card .sell-cards .sell-desc .desc-top h2, main .products-section .product-container .sell-cards .sell-desc .desc-top h2, main .products-section .product-container .product-card .sell-desc .desc-top h2, main .products-section .product-container .product-card .product-desc .desc-top h2, main .products-section .product-container .product-card .product-desc .product-top h2 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
}
.selling-card .sell-cards .sell-desc .desc-top p, main .products-section .product-container .sell-cards .sell-desc .desc-top p, main .products-section .product-container .product-card .sell-desc .desc-top p, main .products-section .product-container .product-card .product-desc .desc-top p, main .products-section .product-container .product-card .product-desc .product-top p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.selling-card .sell-cards .sell-desc .desc-bottom h2, main .products-section .product-container .sell-cards .sell-desc .desc-bottom h2, main .products-section .product-container .product-card .sell-desc .desc-bottom h2, main .products-section .product-container .product-card .product-desc .desc-bottom h2, main .products-section .product-container .product-card .product-desc .product-bottom h2 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
}
.selling-card .sell-cards .sell-desc .desc-bottom button, main .products-section .product-container .sell-cards .sell-desc .desc-bottom button, main .products-section .product-container .product-card .sell-desc .desc-bottom button, main .products-section .product-container .product-card .product-desc .desc-bottom button, main .products-section .product-container .product-card .product-desc .product-bottom button {
  margin-top: 10px;
}
.selling-card .sell-cards .card-1, main .products-section .product-container .sell-cards .card-1, main .products-section .product-container .product-card .card-1 {
  grid-area: product-1;
  grid-template-areas: "images desc";
}
.selling-card .sell-cards .card-2, main .products-section .product-container .sell-cards .card-2, main .products-section .product-container .product-card .card-2 {
  grid-area: product-2;
  grid-template-areas: "images images" "desc desc";
}
.selling-card .sell-cards .card-3, main .products-section .product-container .sell-cards .card-3, main .products-section .product-container .product-card .card-3 {
  grid-area: product-3;
  grid-template-areas: "images images " "desc desc";
}

.circle-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  background: linear-gradient(45deg, #fff, #ccc);
}

.artist-page .circle {
  background: linear-gradient(135deg, #4e2079, #8e3d8e);
}

.consult-page .circle {
  background: linear-gradient(135deg, #8d6ac0, #ff93e0);
}

.product-page .circle {
  background: linear-gradient(135deg, #046969, #3bd9d9);
}

.home-page .circle {
  background: linear-gradient(135deg, #ff4545, #e4866d);
}

body {
  background-color: #ffb33a;
}

main .intro-section {
  width: 100%;
  height: 100vh;
  background-color: #e4e4e4;
  padding: 150px 80px 120px 80px;
}
main .intro-section h1 {
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: 900;
}
main .intro-section .text-container {
  font-size: clamp(1rem, 3vw, 1.5rem);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 60%;
}
main .aboutus-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .aboutus-section .heading {
  display: flex;
}
main .aboutus-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .aboutus-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .aboutus-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .aboutus-section .aboutus-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
main .aboutus-section .aboutus-container .image {
  background-color: #e4e4e4;
}
main .aboutus-section .aboutus-container .desc {
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: clamp(1rem, 3vw, 1.5rem);
  border-radius: 0 81px 81px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #000;
  font-weight: 500;
}
main .businesses-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .businesses-section .heading {
  display: flex;
}
main .businesses-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .businesses-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .businesses-section .heading {
  flex-direction: row-reverse;
}
main .businesses-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .businesses-section hr {
  margin-left: 50%;
}
main .businesses-section .businesses-container {
  margin-top: 40px;
}
main .products-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .products-section .heading {
  display: flex;
}
main .products-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .products-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .products-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .products-section .product-container {
  margin-top: 40px;
}
main .products-section .product-container .card-1 {
  grid-area: product-1;
  grid-template-areas: "images desc";
}
main .products-section .product-container .card-2 {
  grid-area: product-2;
  grid-template-areas: "images images" "desc desc";
}
main .products-section .product-container .card-3 {
  grid-area: product-3;
  grid-template-areas: "images images " "desc desc";
}
main .performers-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .performers-section .heading {
  display: flex;
}
main .performers-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .performers-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .performers-section .heading {
  flex-direction: row-reverse;
}
main .performers-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .performers-section hr {
  margin-left: 50%;
}
main .performers-section .swiper {
  margin-top: 40px;
  width: 100%;
  height: 650px;
  position: relative;
  z-index: 1;
}
main .performers-section .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 40px;
  height: 600px;
  z-index: 1;
}
main .performers-section .swiper-slide .performers-name {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .performers-section .swiper-slide .performers-name h1 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
  text-align: center;
  font-weight: 500;
}
main .performers-section .swiper-slide .image {
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}
main .performers-section .swiper-scrollbar {
  border-radius: 10px;
  height: 20px;
  padding: 5px;
  background-color: 255, 255, 255, 0.2;
  overflow: hidden;
  width: 15%;
  left: 42%;
  z-index: 100;
}
main .performers-section .swiper-scrollbar-drag {
  background-color: black;
  border-radius: 10px;
}
@media only screen and (min-width: 769px) {
  main .performers-section .swiper-slide:first-child {
    transition: transform 100ms;
  }
  main .performers-section .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }
  main .performers-section .swiper[dir=rtl] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }
  main .performers-section .swiper[dir=rtl] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}/*# sourceMappingURL=index.css.map */