@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(4vw, -2vh);
  }
}
.circle {
  animation: float 10s ease-in-out infinite alternate;
}
.circle:nth-child(odd) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.fade-in {
  animation: fadeIn 0.4s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.25s ease-out forwards;
}

@keyframes circleFadeIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(0.85);
  }
}
.circle-fade-in {
  animation: circleFadeIn 0.6s ease-in forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}

header {
  width: 100%;
  background-color: #e4e4e4; /* replace with $header-footer-color */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1882352941);
  transition: 0.5s;
}

.logo a {
  font-size: clamp(2rem, 6vw, 3rem); /* replace with $primary-logo-fontsize */
  color: #0a2463; /* replace with $logo-color */
  font-weight: 900;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.links {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
  font-weight: 500;
}

.links a {
  color: #000;
  font-size: clamp(1rem, 3vw, 1.5rem);
  width: 25%;
  text-align: center;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.close-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 1023px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333;
    padding: 60px 20px 20px;
    transition: 0.3s ease;
    z-index: 11;
  }
  .nav-links.open {
    right: 0;
  }
  .close-btn {
    display: block;
  }
  .links {
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .links a {
    color: white;
    width: 100%;
  }
  .button {
    margin-top: 20px;
  }
  .hamburger {
    display: block;
  }
}
footer {
  background-color: #e4e4e4;
}
footer .footer-top {
  padding: 80px 80px 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .cml-logo {
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 900;
}
footer .footer-top .social-media {
  display: flex;
  gap: 20px;
}
footer .footer-top .social-media .app {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
}
footer .footer-bottom {
  padding: 0px 80px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 100px;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
footer .footer-bottom h3 {
  height: 100px;
}
footer .copyright {
  margin-top: 150px;
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #000;
  background-color: #fff;
}

.red-button, main .intro-section .text-container .text-bottom button, .button button {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
  cursor: pointer;
}

.white-button, main .consultant-section .consultant-container .left-side button, main .products-section .product-container .product-card .product-desc .product-bottom button, main .businesses-section .businesses-container .business-card .image .button button, main .aboutus-section .aboutus-container button {
  background-color: #fff;
  color: #ff4545;
  width: 100%;
  padding: 5px 0px;
  border-radius: 26px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 800;
  cursor: pointer;
  margin-top: 30px;
}

.circle-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  background: linear-gradient(45deg, #fff, #ccc);
}

.artist-page .circle {
  background: linear-gradient(135deg, #4e2079, #8e3d8e);
}

.consult-page .circle {
  background: linear-gradient(135deg, #8d6ac0, #ff93e0);
}

.product-page .circle {
  background: linear-gradient(135deg, #046969, #3bd9d9);
}

.home-page .circle {
  background: linear-gradient(135deg, #ff4545, #e4866d);
}

body {
  background-color: #ffb33a;
}

main .intro-section {
  width: 100%;
  height: 100vh;
  background-color: #e4e4e4;
  padding: 150px 80px 120px 80px;
}
main .intro-section h1 {
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: 900;
}
main .intro-section .text-container {
  font-size: clamp(1rem, 3vw, 1.5rem);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 60%;
}
main .aboutus-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .aboutus-section .heading {
  display: flex;
}
main .aboutus-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .aboutus-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .aboutus-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .aboutus-section .aboutus-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-radius: 0 81px 81px 0;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
}
main .aboutus-section .aboutus-container .image {
  background-color: #e4e4e4;
}
main .aboutus-section .aboutus-container .desc {
  padding: 40px;
  background: rgba(248, 73, 67, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: clamp(1rem, 3vw, 1.5rem);
  border-radius: 0 81px 81px 0;
  color: #fff;
  font-weight: 500;
}
main .businesses-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .businesses-section .heading {
  display: flex;
}
main .businesses-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .businesses-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .businesses-section .heading {
  justify-content: flex-end;
}
main .businesses-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .businesses-section hr {
  margin-left: 50%;
}
main .businesses-section .businesses-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 80px;
  grid-template-rows: 500px;
}
main .businesses-section .businesses-container .business-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ed4540;
  border-radius: 24px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
}
main .businesses-section .businesses-container .business-card .image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: hsl(92, 100%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
main .businesses-section .businesses-container .business-card .image .text h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: center;
}
main .businesses-section .businesses-container .business-card .image .button {
  position: absolute;
  bottom: 40px;
  width: 80%;
  z-index: 3;
}
main .businesses-section .businesses-container .business-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #ed4540;
  border-radius: 24px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .businesses-section .businesses-container .business-card .overlay p {
  color: #fff;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
main .businesses-section .businesses-container .business-card:hover .overlay {
  opacity: 1;
}
main .products-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .products-section .heading {
  display: flex;
}
main .products-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .products-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .products-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .products-section .product-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 40px;
  grid-template-areas: "product-1 product-1" "product-2 product-3";
}
main .products-section .product-container .product-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  padding: 40px;
  background: rgba(248, 73, 67, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 24px;
  color: #fff;
  gap: 40px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
}
main .products-section .product-container .product-card .image {
  grid-area: images;
  background-color: aqua;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1/0.6;
}
main .products-section .product-container .product-card .product-desc {
  width: 100%;
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .products-section .product-container .product-card .product-desc .product-top h2 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
}
main .products-section .product-container .product-card .product-desc .product-top p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}
main .products-section .product-container .product-card .product-desc .product-bottom h2 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
}
main .products-section .product-container .product-card .product-desc .product-bottom button {
  margin-top: 10px;
}
main .products-section .product-container .card-1 {
  grid-area: product-1;
  grid-template-areas: "images desc";
}
main .products-section .product-container .card-2 {
  grid-area: product-2;
  grid-template-areas: "images images" "desc desc";
}
main .products-section .product-container .card-3 {
  grid-area: product-3;
  grid-template-areas: "images images " "desc desc";
}
main .performers-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .performers-section .heading {
  display: flex;
}
main .performers-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .performers-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .performers-section .heading {
  justify-content: flex-end;
}
main .performers-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .performers-section hr {
  margin-left: 50%;
}
main .performers-section .swiper {
  margin-top: 40px;
  width: 100%;
  height: 650px;
  position: relative;
  z-index: 1;
}
main .performers-section .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(248, 73, 67, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 24px;
  padding: 30px;
  height: 600px;
  z-index: 1;
  box-shadow: 0px 20px 20px 3px rgba(0, 0, 0, 0.25);
}
main .performers-section .swiper-slide .performers-name {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .performers-section .swiper-slide .performers-name h1 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
  text-align: center;
  font-weight: 600;
  color: #fff;
}
main .performers-section .swiper-slide .image {
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}
main .performers-section .swiper-scrollbar {
  border-radius: 10px;
  height: 20px;
  padding: 5px;
  background-color: 255, 255, 255, 0;
  overflow: hidden;
  width: 15%;
  left: 42%;
  z-index: 100;
}
main .performers-section .swiper-scrollbar-drag {
  background-color: black;
  border-radius: 10px;
}
@media only screen and (min-width: 769px) {
  main .performers-section .swiper-slide:first-child {
    transition: transform 100ms;
  }
  main .performers-section .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }
  main .performers-section .swiper[dir=rtl] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }
  main .performers-section .swiper[dir=rtl] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
main .consultant-section {
  margin: 120px 80px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
main .consultant-section .heading {
  display: flex;
}
main .consultant-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .consultant-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .consultant-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .consultant-section .consultant-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-radius: 25px 0px 0px 25px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
}
main .consultant-section .consultant-container .left-side {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px 0px 0px 25px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .consultant-section .consultant-container .left-side .text h3 {
  text-align: center;
}
main .consultant-section .consultant-container .right-side {
  display: grid;
  grid-template-areas: "bar-1" "bar-2" "bar-3";
  gap: 40px;
  padding: 40px;
  background-color: #fff;
}
main .consultant-section .consultant-container .right-side .vertical-bar {
  display: grid;
  grid-template-rows: 100px;
  background-color: #e4e4e4;
}
main .consultant-section .consultant-container .right-side .bar-1 {
  grid-area: bar-1;
}
main .consultant-section .consultant-container .right-side .bar-2 {
  grid-area: bar-2;
}
main .consultant-section .consultant-container .right-side .bar-3 {
  grid-area: bar-3;
}
main .client-section {
  font-size: clamp(1.5rem, 4vw, 2rem);
  padding: 40px 80px;
  background-color: #fff;
}
main .client-section .heading {
  display: flex;
}
main .client-section .with-bg {
  background-color: #fff;
  mix-blend-mode: screen;
  border-radius: 10px;
  padding: 0px 10px;
}
main .client-section .without-bg {
  color: #fff;
  padding: 0px 10px;
}
main .client-section .heading {
  justify-content: center;
}
main .client-section .with-bg {
  background-color: #ff4545;
  mix-blend-mode: normal;
  color: #fff;
}
main .client-section hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-left: -2px;
}
main .client-section hr {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #ff4545;
}
main .client-section .client-slider {
  margin-top: 80px;
  overflow: hidden;
  width: 100%;
}
main .client-section .client-images {
  display: flex;
  gap: 40px;
  animation: scroll 30s linear infinite;
  width: -moz-max-content;
  width: max-content;
}
main .client-section .client-img {
  width: 180px;
  height: 180px;
  background-color: #ccc;
  border-radius: 50%;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=index.css.map */