@import "../global";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $home-aboutus-primary-color;
}

main {
  .intro-section {
    @include hero-section();
  }

  .aboutus-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .aboutus-container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      border-radius: 0 81px 81px 0;
      @include shadow();

      .image {
        background-color: $header-footer-color;
      }

      .desc {
        padding: 40px;
        background: rgba(248, 73, 67, 0.6);
        backdrop-filter: blur(5px);
        font-size: $paragraph-fontsize;
        border-radius: 0 81px 81px 0;
        // border: 1px solid rgba(255, 255, 255, 0.3);
        color: nth($text-colors, 1);
        font-weight: 500;
      }

      button {
        @extend .white-button;
      }
    }
  }

  .businesses-section {
    margin: $desktop-spacing;

    @include heading();

    .heading {
      justify-content: flex-end;
    }

    @include heading-underline();

    hr {
      margin-left: 50%;
    }

    @include businessess();
  }


  .products-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    @include featured-products();
  }

  .performers-section {
    margin: $desktop-spacing;
    @include heading();

    .heading {
      justify-content: flex-end;
    }

    @include heading-underline();

    hr {
      margin-left: 50%;
    }

    @include performer-slider();
  }

  .consultant-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .consultant-container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      border-radius: 25px 0px 0px 25px;
      @include shadow();

      .left-side {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 25px 0px 0px 25px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
          h3 {
            text-align: center;
          }
        }

        button {
          @extend .white-button;
        }
      }

      .right-side {
        display: grid;
        grid-template-areas:
          "bar-1"
          "bar-2"
          "bar-3";
        gap: 40px;
        padding: 40px;
        background-color: nth($text-colors, 1);

        .vertical-bar {
          display: grid;
          grid-template-rows: 100px;
          background-color: $header-footer-color;
        }

        .bar-1 {
          grid-area: bar-1;
        }

        .bar-2 {
          grid-area: bar-2;
        }

        .bar-3 {
          grid-area: bar-3;
        }
      }
    }
  }

  .client-section {
    @include heading();

    .heading {
      justify-content: center;
    }

    .with-bg {
      background-color: #ff4545;
      mix-blend-mode: normal;
      color: nth($text-colors, 1);
    }

    @include heading-underline();

    hr {
      margin: 0 auto;
      margin-top: 30px;
      background-color: #ff4545;
    }

    padding: 40px 80px;
    background-color: nth($text-colors, 1);

    .client-slider {
      margin-top: 80px;
      overflow: hidden;
      width: 100%;
    }

    .client-images {
      display: flex;
      gap: 40px;
      animation: scroll 30s linear infinite;
      width: max-content;
    }

    .client-img {
      width: 180px;
      height: 180px;
      background-color: #ccc; // Replace with logo or image background
      border-radius: 50%;
    }

    // Keyframes for scrolling animation
    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(-50%);
      }
    }
  }

  @include arrow();

  @media (max-width: 1023px) {

    .aboutus-section,
    .businesses-section,
    .products-section,
    .performers-section,
    .consultant-section {
      margin: $tablet-spacing;
    }

    .aboutus-section {
      .aboutus-container {

        .desc {
          padding: 20px;
          font-size: clamp(1rem, 1.5vw, 1.125rem);
          border-radius: 0 40px 40px 0;
        }

        button {
          @extend .white-button;
          font-size: clamp(1rem, 1.5vw, 1.125rem);
        }
      }
    }

    .consultant-section {
      .consultant-container {

        .left-side {
          padding: 20px;
        }

        .right-side {
          gap: 20px;
          padding: 20px;
        }
      }
    }

    .client-section {
      padding: 40px 40px;

      .client-slider {
        margin-top: 40px;
        overflow: hidden;
        width: 100%;
      }

      .client-images {
        gap: 20px;
      }

      .client-img {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media (max-width: 719px) {

    .aboutus-section,
    .businesses-section,
    .products-section,
    .performers-section,
    .consultant-section {
      margin: $mobile-spacing;
    }

    .aboutus-section {
      .aboutus-container {
        grid-template-columns: 1fr;
        border-radius: 20px;

        .desc {
          border-radius: 20px;
        }

      }
    }

    .consultant-section {
        .consultant-container {

          .left-side {
            padding: 10px;
          }

          .right-side {
            gap: 10px;
            padding: 10px;
          }
        }
      }

    .client-section {
      padding: 40px 40px;

      .client-img {
        width: 80px;
        height: 80px;
      }
    }
    
  }
}