@import "../global";

body {
  background-color: $home-aboutus-primary-color;
}

main {
  .intro-section {
    @include hero-section();
  }

  .aboutus-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .aboutus-container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, 50%);

      .image {
        background-color: $header-footer-color;
      }

      .desc {
        padding: 40px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        font-size: $paragraph-fontsize;
        border-radius: 0 81px 81px 0;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      button {
        @extend .white-button;
      }
    }
  }

  .businesses-section {
    margin: $desktop-spacing;

    @include heading();
    .heading {
      flex-direction: row-reverse;
    }

    @include heading-underline();
    hr {
      margin-left: 50%;
    }

    .businesses-container {
      margin-top: 40px;
      @extend .border-card;

      .business-card {
        @extend .each-card;

        .image {
          @extend .each-img;

          .text {
            @extend .each-text;
          }

          .button {
            @extend .each-button;
          }
        }

        .overlay {
          @extend .overlay;
        }
      }
    }
  }

  .products-section {
    margin: $desktop-spacing;
    @include heading();
    @include heading-underline();

    .product-container {
      margin-top: 40px;
      @extend .selling-card;

      .product-card {
        @extend .sell-cards;

        .image {
          @extend .sell-image;
        }

        .product-desc {
          @extend .sell-desc;

          .product-top {
            @extend .desc-top;
          }

          .product-bottom {
            @extend .desc-bottom;
          }
        }
      }

      .card-1 {
        grid-area: product-1;
        grid-template-areas: "images desc";
      }

      .card-2 {
        grid-area: product-2;
        grid-template-areas:
          "images images"
          "desc desc";
      }

      .card-3 {
        grid-area: product-3;
        grid-template-areas:
          "images images "
          "desc desc";
      }

      // .product-card{
      //   @extend .each-sell;

      //   .image{
      //     @extend .image-sell;
      //   }

      //   .product-desc{
      //       @extend .text-sell;
      //   }

      //   .card-1{
      //     @extend .card-1;
      //   }

      //   .card-2{
      //     @extend .card-2;
      //   }

      //   .card-3{
      //     @extend .card-3;
      //   }

      // }
    }
  }

  .performers-section {
    margin: $desktop-spacing;
    @include heading();
    .heading {
      flex-direction: row-reverse;
    }

    @include heading-underline();
    hr {
      margin-left: 50%;
    }

    .swiper {
      margin-top: 40px;
      width: 100%;
      height: 95vh;
      position: relative;
      z-index: 1;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 40px;
      background-color: aquamarine;
      padding: 40px;
      height: 85vh;
      z-index: 1;

      .performers-name{
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
          font-size: $sub-heading-fontsize;
          text-align: center;
        }
      }


      .image{
        padding: 40px;
        width: 100%;
        height: 500px;
        background-color: cadetblue;
      }
    }
      

    .swiper-scrollbar {
      border-radius: 10px;
      height: 20px;
      padding: 5px;
      background-color: (255, 255, 255, 0.2);
      overflow: hidden;
      width: 25%;
      left: 37%;
      z-index: 100;
      

    }

    .swiper-scrollbar-drag {
      background-color: black; // or any color you want!
      border-radius: 10px; // optional, to make it round
    }

    

    @media only screen and (min-width: 769px) {
      .swiper-slide:first-child {
        transition: transform 100ms;
      }

      .swiper-slide:first-child img {
        transition: box-shadow 500ms;
      }


      .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(-50%);
      }

      .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(-55%);
      }
    }
  }
}
