footer {
  background-color: $header-footer-color;

  .footer-top {
    padding: 80px 80px 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cml-logo {
      font-size: $primary-logo-fontsize;
      font-weight: 900;
    }

    .social-media {
      display: flex;
      gap: 20px;
      .app {
        width: 80px;
        height: 80px;
        background-color: black;
        border-radius: 50%;

        a{
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
            transform: scale(1)
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 0px 80px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 100px;
    font-size: $paragraph-fontsize;

    h3 {
      height: 100px;
    }
  }

  .copyright {
    margin-top: 150px;
    text-align: center;
    font-size: $small-button-fontsize;
    color: nth($text-colors, 2);
    background-color: nth($text-colors, 1);
  }
}

@media (max-width: 1023px){
  footer {
    
    .footer-bottom{
      grid-template-columns: repeat(2, minmax(100px, 1fr));

      .company, .service, .quick-links, .head-office{
        h3{
          height:initial;
          margin-bottom: 10px;
        }
      }
    }

  }
}

@media screen and (max-width: 719px){
  footer{
    .footer-top{
      flex-direction: column;

      .social-media {
        margin-top: 20px;
        .app {
          width: 50px;
          height: 50px;
        }
      }
    }

    .footer-bottom{
      margin-top: 80px;
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      gap: 30px;
    }
  }
}
