@mixin hero-section {
  width: 100%;
  min-height: 100svh;
  background-color: $header-footer-color;
  padding: 150px 80px 50px 80px;

  h1 {
    font-size: $hero-heading-fontsize;
    font-weight: 900;
  }

  .text-container {
    font-size: $paragraph-fontsize;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    width: 80%;

    .text-top{
      hr{
        display: none;
      }

      p{
        margin-top: 20px;
      }
    }

    .text-bottom {
      margin-top: 80px;
      button {
        @extend .red-button;
        
      }
    }
  }

  @media screen and (max-width: 1023px){

    .text-container {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 719px){
    padding: 100px 40px 50px 40px;

    h1, .text-container{
      text-align: center;
    }

    .text-container {
      text-align: justify;

      .text-top{

        hr{
          display: block;
          margin-top: 15px;
          margin-bottom: 15px;
          height: 2px;
          background-color: black;
        
        }
      }
      
      .text-bottom{
        margin-top: 20px;
        text-align: center;
      }
    }
    
  }

  @media screen and (max-width: 539px){
    .text-container{
      height: 90%;
      .text-top{
        p{
          font-size: clamp(0.9rem, 1.5vw, 1.5rem);
        }
      }
    }
  }
}

@mixin heading {
  font-size: $heading-fontsize;

  .heading {
    display: flex;
  }

  .with-bg {
    background-color: nth($text-colors, 1);
    mix-blend-mode: screen;
    border-radius: 10px;
    padding: 0px 10px;
  }

  .without-bg {
    color: nth($text-colors, 1);
    padding: 0px 10px;
  }
}

@mixin heading-underline {
  hr {
    width: 50%;
    height: 3px;
    background-color: white;
    border: none;
    padding: 0px 20px;
    margin-top: 30px;
    margin-left: -2px;
  }
}

@mixin shadow{
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
}

// @mixin card{
//     display: flex;
// }

// @mixin circle{
//     display: flex;
// }
