@mixin hero-section {
  width: 100%;
  height: 100vh;
  background-color: $header-footer-color;
  padding: 150px 80px 120px 80px;

  h1 {
    font-size: $hero-heading-fontsize;
    font-weight: 900;
  }

  .text-container {
    font-size: $paragraph-fontsize;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 60%;

    .text-bottom {
      button {
        @extend .red-button;
      }
    }
  }
}

@mixin heading {
  font-size: $heading-fontsize;

  .heading {
    display: flex;
  }

  .with-bg {
    background-color: nth($text-colors, 1);
    mix-blend-mode: screen;
    border-radius: 10px;
    padding: 0px 10px;
  }

  .without-bg {
    color: nth($text-colors, 1);
    padding: 0px 10px;
  }
}

@mixin heading-underline {
  hr {
    width: 50%;
    height: 3px;
    background-color: white;
    border: none;
    padding: 0px 20px;
    margin-top: 30px;
    margin-left: -2px;
  }
}

@mixin shadow{
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
}

// @mixin card{
//     display: flex;
// }

// @mixin circle{
//     display: flex;
// }
