$desktop: 1024px;
$tablet: 720px;
$mobile: 360px;

$home-aboutus-primary-color: #FFB33A;
$home-aboutus-secondary-color: #FF4545;

$artist-primary-color: #B63880;
$artist-secondary-color: #4E2079;

$consult-primary-color: #3C0D66;
$consult-secondary-color: #8D6AC0;
$consult-tertiary-color: #E68AD9;

$product-primary-color: #A8E6CF;
$product-secondary-color: #046969;
$product-tertiary-color: #62AC54;

$header-footer-color: #E4E4E4;
$logo-color: #0A2463;
$contact-bg-color: #FF6B6B;

$text-colors: #fff #000 #FF4545 #D30086